PORT=5500
NODE_ENV=development

DB_URI=postgresql://<user>:<password>@db.<id>.supabase.co:5432/postgres
SUPABASE_URL=https://<id>.supabase.co
SUPABASE_KEY=<secret-service-key>

ACCESS_SECRET=<jwt-access-secret>
ACCESS_EXPIRES_IN=15m
REFRESH_SECRET=<jwt-refresh-secret>

EVENTS_EMAIL=<nodemailer-sender-email>
EVENTS_PASSWORD=<nodemailer-password>

GOOGLE_CLIENT_ID=<google-oauth-client>
GEMINI_API_KEY=<google-gemini-ai-key>